.container {
	background:white;
	margin: 0 auto 4px auto;
	width: 90%;
	padding: 1em;
	box-shadow: 1px 1px 0 lightgrey;
	display: flex;
	align-items: center;
}

.crypto-img {
	width:35px;
	height:auto;
	display: block;
	margin: 0 auto 5px;
}

.currency-link {
	text-decoration: none;
	color: #333;
}

.coin-name p {
	margin: 0 0 0 15px;
}

.right {
	text-align: right;
	margin-left: auto;
}

/* Small only */
@media screen and (max-width: 39.9375em) {
}

/* Medium and up */
@media screen and (min-width: 40em) {
	.container {
		width: 70%;
	}
}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {}

/* Large and up */
@media screen and (min-width: 64em) {}

/* Large only */
@media screen and (min-width: 64em) and (max-width: 74.9375em) {}
