body {
	background: #f1f1f1;
	padding: 50px;
}

.container {
	background:white;
	width: 70%;
	margin: 0 auto 4px auto;
	padding: 1em;
	box-shadow: 1px 1px 0 lightgrey;
	display: flex;
	align-items: center;
}

.crypto-img {
	width:35px;
	height:auto;
	display: block;
	margin: 0 auto 5px;
}

.coin-image {
}

.coin-name p {
	margin: 0 0 0 15px;
}

.right {
	text-align: right;
	margin-left: auto;
}